.gallery-container {
    color: black;
    max-height: 95vh;
    overflow: hidden;
    padding: 0;
}

.gallary-grid {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr .5fr .50fr .50fr 2px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.one {
    grid-area: 1 / 1 / span 5 / span 2;
    background-image: url('../assets/stephen-baker-507933-unsplash.jpg');
}
.two {
    grid-area: 2 / 2 / span 3/ span 3;
    background-image: url('../assets/chelsea-ferenando-196955-unsplash.jpg');

}
.midd {
    grid-area: 1 / 5 / span 5 / 5;
    background-color: #44C8F5;
    width: 100%;
    height: 100%;
}

.gallary-txt-container {
    grid-area: 2 / 6 / span 3 / span 3;
    padding-left: 1em;
}